.common-actions {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.group-icon,
.search-icon {
  position: absolute;
  height: 76.67%;
  width: 60.83%;
  top: 12.92%;
  right: 35%;
  bottom: 10.42%;
  left: 4.17%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.search-icon {
  height: 33.33%;
  width: 33.33%;
  top: 8.33%;
  right: 4.17%;
  bottom: 58.33%;
  left: 62.5%;
}
.patient-finder-icon {
  height: 24px;
  width: 24px;
  position: relative;
}
